body {
    background-color: gray;
}
.display {
    margin-left: 500px;
    font-size: 30px;
}
.buttons {
    margin-left: 400px;
    margin-top: 200px;
    height: 92px;
}
div button {
    width: 100px;
    height: 50px;
    margin-left: 50px;
    color: green;
    position: relative;
}
.reset {
    height: 50px;
    width: 80px;
    margin-left: 615px;
    margin-top: 50px;
    color: green;
}
.play-count {
    text-align-last: right;
    font-size: larger;
    text-decoration-color: red;
}
.com-count {
    font-size: larger;
}