body {
    background-color: gray;
}
.display {
    margin: 0 auto;
    position: absolute;
    left: 35%;
    font-size: 30px;
}
.buttons {
    width: 490px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div button {
    width: 100px;
    height: 50px;
    margin-left: 50px;
    color: green;
}

.reset {
    position: absolute;
    left: 43%;
    top: 65%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    color: green;
    width: 100px;
    height: 50px;
    margin-left: 50px;
}
.play-count {
    position: absolute;
    left: 0;
    font-size: larger;
    
}
.com-count {
    position: absolute;
    right: 0;
    font-size: larger;
}