* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
   justify-content:center;
    font-size: 30px;
}

main {
  justify-content: space-between;
  width: 90%;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.d_flex {
  display: flex;
}
.buttons {
  justify-content: center;
  align-items: center;
} 
div button {
 border: 0;
 width: 100px;
 height: 50px;
 margin-left: 50px;
 color: green;
}

.buttons button :hover{
  background-color: tomato;
}

.reset {
  justify-self: center;
   
}
.play-count {
  font-size: larger;   
}

.plays {
  justify-content: space-between;
  width: 40%;
}
.com-count {
    /* position: absolute;
    right: 0; */
    font-size: larger;
}
h1 {
    text-align: center;
}
h4 {
    text-align: center;
}


.text {
  flex-direction: column;
  justify-content: space-between;
}
.text span {
  color: orangered;
}


 .col {
      margin: 0 auto;
    }

@media only screen and (max-width: 767px){
    .display {
        width: 80%;
        font-size: 18px;
        align-items: center;
    }

    div button {
      margin-left: 20px;
    }

    .plays {
      width: 100%;
    } 

    .text p{
      padding-left: 2rem;
    }
   
}

@media only screen and (max-width: 767px) {
  .reset {
    margin-bottom: 5rem;
  }
}